extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo
                label(for="tarea") Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre Tarea")
            .campo.enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")

        .listado-pendientes
            ul
                if tareas.length
                    each tarea in tareas
                        //- Saber el id de la tarea
                        li.tarea(data-tarea=tarea.id)
                            p= tarea.tarea
                            .acciones
                                //- Si el estado es 0 o el estado es 1
                                if tarea.estado
                                    i.far.fa-check-circle.completo
                                else
                                    i.far.fa-check-circle
                                i.fas.fa-trash
                else
                    p no hay tareas en este proyecto


        //- pre= vardump(proyecto)

        //- Avance del proyecto
        .avance
            h2 Avance del Proyecto
            //- Selecciona la clase y le asigna una id con su nombre
            #barra-avance.barra-avance
                #porcentaje.porcentaje

        //-ACIONES
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto
            //- Se agrega un atributo personalizado de html para eliminar
            button(data-proyecto-url=proyecto.url type="button" id="eliminar-proyecto" class="boton eliminar") Eliminar Proyecto
